language: nodejs
nodejs:
  - 5.4.0
addons:
  postgresql: "9.4"
env:
  - DB=postgresql
gemfile:
  - Gemfile

before_install:
  - rvm install 2.3.0

before_script:
  - psql -c 'create database task_manager_test;' -U postgres
  - cp config/database.yml.travis config/database.yml

script:
  - bundle exec rake db:setup
  - bundle exec rake db:test:prepare
  - bundle exec rake bower:install
  - bundle exec rspec spec