@import "bootstrap-sprockets";
@import "bootstrap";
@import "datepicker";
@import "tasks";

html,
body {
  font-size: 14px;
  height: 100%;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.center-wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}


.clear-fix:before,
.clear-fix:after {
  content: '';
  display: table;
}
.clear-fix:after {
  clear: both;
}

.shown {
  display: block;
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}
.bs-callout+.bs-callout {
  margin-top: -5px;
}
.bs-callout-primary {
  border-left-color: #428bca;
}
.bs-callout-primary h4 {
  color: #428bca;

  a {
    border-bottom: 1px dotted #428bca;
    cursor: pointer;
  }

  a:hover,
  a:focus {
    text-decoration: none;
    border-bottom: none;
    opacity: .95;
  }
}

