@import "bootstrap-sprockets";
@import "bootstrap";

html,
body {
  font-size: 14px;
  height: 100%;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.center-wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}


.clear-fix:before,
.clear-fix:after {
  content: '';
  display: table;
}
.clear-fix:after {
  clear: both;
}