<!DOCTYPE html>
<html>
<head>
  <title>TaskManager</title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="taskManager">
  <div class="center-wrapper">
    <div ng-include="'assets/navigation/_navigation.html'"></div>
    <div flash-message="5000"></div>
    <ui-view></ui-view>
  </div>
</body>
</html>
